:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --red-color: #e74c3c;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  height: 100vh;
}

.toggle {
  position: absolute;
  top: 100px;
  padding: 8px 12px;
  border: 0;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  background-color: var(--primary-color);
  transform-origin: bottom center;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(10deg);
  height: 100px;
  background-color: var(--red-color);
  width: 1.5px;
}

.center-point {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  font-size: 60px;
}

.date {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #aaa;
  text-transform: uppercase;
}

.date .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  width: 18px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  transition: all 0.5s ease-in;
}
